/* title */

h2{

text-align:center;
margin:40px 0;
font-size:28px;

}


/* gallery */

.gallery{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:15px;
padding:20px;
max-width:1200px;
margin:auto;

}

.gallery img{

width:100%;
border-radius:10px;
cursor:pointer;
transition:.3s;
box-shadow:0 5px 15px rgba(0,0,0,0.5);

}

.gallery img:hover{

transform:scale(1.05);

}


/* lightbox */

.lightbox{

position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.9);
display:none;
justify-content:center;
align-items:center;
z-index:1000;

}

.lightbox img{

max-width:90%;
max-height:90%;
border-radius:10px;

}


/* top button */

#topBtn{

position:fixed;
bottom:30px;
left:30px;
border:none;
background:#901bf0;
color:white;
font-size:20px;
width:45px;
height:45px;
border-radius:50%;
cursor:pointer;
display:none;

}

#topBtn:hover{

background:#ff9800;

}
