* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #121212;
  color: #e0e0e0;
  font-family: Arial, Helvetica, sans-serif;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: #1e1e1e;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 20px;
  background: #901bf0;
  transition: 0.3s;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

nav a:hover {
  background: #ff9800;
}

.menu-btn {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* footer */

footer,
footer a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  background: #1e1e1e;
  font-family: "Courier New", Courier, monospace;
}

@media (max-width: 768px) {
  nav {
    position: absolute;
    top: 70px;
    right: 0;
    background: #1e1e1e;
    flex-direction: column;
    width: 200px;
    display: none;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
  }

  nav.active {
    display: flex;
  }

  .menu-btn {
    display: block;
  }
}
